Repository pomerium/zero-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: proto, generate, go-mod-tidy

proto:
  name: proto
  entry: bash -c 'make proto'
  language: system

generate:
  name: generate
  entry: bash -c 'make generate'
  language: system

go-mod-tidy:
  name: go-mod-tidy
  language: system
  entry: bash -c 'go mod tidy'

use timer
  connect-mux/service.go
Due: none

fix typo
  connect-mux/service.go
Due: none

connect: mux (#12)
  connect-mux/config.go
  connect-mux/messages.go
  connect-mux/service.go
  fanout/fanout.go
  fanout/fanout_test.go
  go.mod
  go.sum
Due: generate, go-mod-tidy

mux: fix non retryable error wrapping
  connect-mux/service.go
Due: none

mux: fix non retryable error wrapping (#13)
  connect-mux/service.go
Due: none

mark 4xx response from token exchange as terminal error
  cluster/error.go
  cluster/token_fetcher.go
Due: none

mv to separate package
  apierror/error.go
  cluster/token_fetcher.go
Due: none

add response checking, toplevel api object
  .golangci.yml
  apierror/terminal.go
  connect-mux/messages.go
  connect-mux/service.go
Due: none

central api
  api.go
  apierror/request_id.go
  apierror/response.go
  apierror/response_test.go
  cluster/client_errors.go
  cluster/urlcache.go
  config.go
Due: none

use interface for error marking
  apierror/terminal.go
Due: none

update token fetcher
  cluster/token_fetcher.go
Due: none

lint
  cluster/token_fetcher.go
Due: none

encapsulate download logic
  api.go
  config.go
  download.go
Due: none

encapsulate mux in the api
  api.go
  connect-mux/messages.go
  connect-mux/service.go
Due: none

tidy up download
  download.go
Due: none

use mime package
  download.go
Due: none

api: centralized api (#14)
  .golangci.yml
  api.go
  apierror/request_id.go
  apierror/response.go
  apierror/response_test.go
  apierror/terminal.go
  cluster/client_errors.go
  cluster/token_fetcher.go
  cluster/urlcache.go
  config.go
  connect-mux/messages.go
  connect-mux/service.go
  download.go
Due: none

report bundle application status back to the cloud
  api.go
  cluster/client.gen.go
  cluster/client_errors.go
  cluster/models.gen.go
  cluster/openapi.yaml
  cluster/server.gen.go
  cluster/urlcache.go
  download.go
Due: generate

zero/api: upgrade oapi-codegen
  cluster/client.gen.go
  cluster/models.gen.go
  cluster/server.gen.go
  go.mod
  go.sum
Due: generate, go-mod-tidy

go mod tidy
  go.mod
  go.sum
Due: generate, go-mod-tidy

go mod tidy
  go.sum
Due: generate, go-mod-tidy

zero/api: upgrade oapi-codegen (#21)
  cluster/client.gen.go
  cluster/models.gen.go
  cluster/server.gen.go
  go.mod
  go.sum
Due: generate, go-mod-tidy

fix go deps
  cluster/models.gen.go
  cluster/server.gen.go
  go.mod
  go.sum
Due: generate, go-mod-tidy

pin go 1.20
  go.mod
  go.sum
Due: generate, go-mod-tidy

don't use oneOf in request object
  cluster/models.gen.go
  cluster/openapi.yaml
Due: generate

fix codegen
  api.go
Due: none

generate
  cluster/client.gen.go
  cluster/models.gen.go
  cluster/server.gen.go
Due: none

report bundle application status back to the cloud (#15)
  api.go
  cluster/client.gen.go
  cluster/client_errors.go
  cluster/models.gen.go
  cluster/openapi.yaml
  cluster/server.gen.go
  cluster/urlcache.go
  download.go
Due: generate

use bundles to fetch bootstrap config
  api.go
  cluster/client.gen.go
  cluster/client_errors.go
  cluster/models.gen.go
  cluster/openapi.yaml
  cluster/server.gen.go
  download.go
Due: generate

update proto
  connect/connect.pb.go
  connect/connect.proto
Due: proto

update hooks
  connect-mux/messages.go
Due: none

mv reserved bundle constants
  connect-mux/messages.go
  connect/connect.pb.go
  connect/connect.proto
  download.go
Due: proto

add bundle constants
  cluster/constants.go
Due: none

use single config
  cluster/constants.go
  connect-mux/config.go
  connect-mux/messages.go
Due: none

return reader for download request
  download.go
Due: none

zero-sdk/go: upgrade go to 1.21
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .tool-versions
Due: none

upgrade go mod
  go.mod
  go.sum
Due: generate, go-mod-tidy

setup go
  .github/workflows/pre-commit.yaml
Due: none

back to 1.20
  go.mod
  go.sum
Due: generate, go-mod-tidy

zero-sdk/go: upgrade go to 1.21 (#35)
  .github/workflows/lint.yml
  .github/workflows/pre-commit.yaml
  .github/workflows/test.yml
  .tool-versions
Due: none

Path conditions:
  proto: any of: \.proto$
  generate: any of: openapi\.yaml|go\.mod|go\.sum$
  go-mod-tidy: any of: go\.mod|go\.sum$
