Repository pomerium/zero-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: proto, generate, go-mod-tidy

proto:
  name: proto
  entry: bash -c 'make proto'
  language: system

generate:
  name: generate
  entry: bash -c 'make generate'
  language: system

go-mod-tidy:
  name: go-mod-tidy
  language: system
  entry: bash -c 'go mod tidy'

connect: proto (#2)
  connect/connect.pb.go
  connect/connect.proto
  connect/connect_grpc.pb.go
  go.mod
  go.sum
Due: proto, generate, go-mod-tidy

token cache
  go.mod
  go.sum
  token/cache.go
  token/cache_test.go
Due: generate, go-mod-tidy

api client, authorization token fetcher
  api/client.gen.go
  api/client.go
  api/client.yaml
  api/client_test.go
  api/generate.go
  api/models.gen.go
  api/models.yaml
  api/openapi.yaml
  api/server.gen.go
  api/server.yaml
  api/token_fetcher.go
Due: generate

lint
  api/client.go
  api/client_test.go
Due: none

connect: authorized client
  connect/client.go
Due: none

comments
  connect/client.go
Due: none

set threshold for a locked state
  token/cache.go
Due: none

context aware locking
  token/cache.go
Due: none

rename api -> cluster
  cluster/client.gen.go
  cluster/client.go
  cluster/client.yaml
  cluster/client_test.go
  cluster/generate.go
  cluster/models.gen.go
  cluster/models.yaml
  cluster/openapi.yaml
  cluster/server.gen.go
  cluster/server.yaml
  cluster/token_fetcher.go
Due: generate

rename base
  cluster/client.gen.go
  cluster/models.gen.go
  cluster/openapi.yaml
  cluster/server.gen.go
Due: generate

rename methods to avoid collisions
  cluster/client.gen.go
  cluster/client_test.go
  cluster/models.gen.go
  cluster/openapi.yaml
  cluster/server.gen.go
  cluster/token_fetcher.go
Due: generate

code review
  token/cache.go
Due: none

token cache (#3)
  go.mod
  go.sum
  token/cache.go
  token/cache_test.go
Due: generate, go-mod-tidy

fix typo
  cluster/token_fetcher.go
Due: none

OpenAPI client, authorization token fetcher (#4)
  api/client.gen.go
  api/models.gen.go
  api/openapi.yaml
  cluster/client.gen.go
  cluster/client.go
  cluster/client.yaml
  cluster/client_test.go
  cluster/generate.go
  cluster/models.gen.go
  cluster/models.yaml
  cluster/openapi.yaml
  cluster/server.gen.go
  cluster/server.yaml
  cluster/token_fetcher.go
Due: generate

add convenience test
  connect/client_test.go
Due: none

more explicit connection string parsing
  connect/client.go
  connect/client_test.go
  connect/config.go
Due: none

cr comments
  connect/client.go
  connect/client_test.go
  connect/config.go
Due: none

cluster api: add bundle methods
  cluster/client.gen.go
  cluster/models.gen.go
  cluster/openapi.yaml
  cluster/server.gen.go
Due: generate

fix tls opts
  connect/client.go
  connect/client_test.go
  connect/config.go
Due: none

tls opts
  connect/config.go
Due: none

tls
  connect/config.go
Due: none

connect: authorized client (#5)
  connect/client.go
  connect/client_test.go
  connect/config.go
Due: none

add 404
  cluster/client.gen.go
  cluster/openapi.yaml
  cluster/server.gen.go
Due: generate

cluster api: add bundle methods (#6)
  cluster/client.gen.go
  cluster/models.gen.go
  cluster/openapi.yaml
  cluster/server.gen.go
Due: generate

re-generate
  .tool-versions
  cluster/client.gen.go
  cluster/models.gen.go
  cluster/server.gen.go
Due: none

small api reorg to share token fetcher between the two kinds of apis
  cluster/client.go
  cluster/client_test.go
Due: none

add fanout package
  fanout/config.go
  fanout/fanout.go
  fanout/fanout_test.go
  fanout/publish.go
  fanout/receive.go
  fanout/subscribers.go
Due: none

api: adds cluster bootstrap api
  cluster/client.gen.go
  cluster/models.gen.go
  cluster/openapi.yaml
  cluster/server.gen.go
  connect/connect.pb.go
  connect/connect.proto
Due: proto, generate

add fanout package (#10)
  fanout/config.go
  fanout/fanout.go
  fanout/fanout_test.go
  fanout/publish.go
  fanout/receive.go
  fanout/subscribers.go
Due: none

typo
  cluster/openapi.yaml
Due: generate

regenerate
  cluster/models.gen.go
Due: none

small api reorg to share token fetcher between the two kinds of apis (#9)
  cluster/client.go
  cluster/client_test.go
Due: none

api: bootstrap config (#11)
  cluster/client.gen.go
  cluster/models.gen.go
  cluster/openapi.yaml
  cluster/server.gen.go
  connect/connect.pb.go
  connect/connect.proto
Due: proto, generate

add connect-mux
  connect-mux/config.go
  connect-mux/messages.go
  connect-mux/service.go
  fanout/fanout.go
  fanout/fanout_test.go
  go.mod
  go.sum
Due: generate, go-mod-tidy

connection status
  connect-mux/messages.go
  connect-mux/service.go
Due: none

add backoff
  connect-mux/service.go
  go.mod
  go.sum
Due: generate, go-mod-tidy

add reconnection backoff
  connect-mux/service.go
Due: none

add options
  connect-mux/service.go
Due: none

Path conditions:
  proto: any of: \.proto$
  generate: any of: openapi\.yaml|go\.mod|go\.sum$
  go-mod-tidy: any of: go\.mod|go\.sum$
